/* Estilo general */ 

/* eliminar estilo por defecto */ 

* { 
    margin: 0;
    padding: 0;
    --main-color: #a4949a;
    --second-color:#beb4b4;
    --color-3:#375450;    
    --color-4: #98a5a1;
    font-family: 'Arima Madurai';
}



.titulo-sevenland {
    color: white;
    font-family: 'Playfair Display', serif;
}
.titulo-sevenland:hover{
    color:var(--main-color)
}

.link-nav {
    text-decoration: none;
    color: rgb(221, 217, 217);
    font-size: 18px;
}

.active-nav{
    color:white;
}

.link-nav:hover {
    text-decoration: none;
    color: #a4949a;
    font-size: 18px;
    
}
.item-nav { 
    display: flex;
    align-items: center;
    margin-left: 20px;
}


.banner img{ 
    width: 100%;
    height: auto;
    margin-top: 3em;
    
}
/* Footer */
.icon-cart{
    padding: 6px;

}
.icon-cart:hover{
    background-color: var(--main-color);
}

footer { 
    padding-top: 60px;
    background: url(../src/multimedia/img/footer2.jpg) center center;
    background-size: cover;
	background-color: #ddd;
	height: 360px;
   /* position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    */
}

 footer h2 { 
    color: #fff;
	font-size: 24px;
	text-align: center;
	font-weight: 400;
	letter-spacing: 1px;
}

footer li { 
    list-style: none;
    color: #fff;
	text-align: center;
    font-family: 'Arima Madurai';
    
}

footer p{
	color: #fff;
	text-align: center;
}

footer hr{
    border-top: 2px solid rgb(255, 255, 255);
    
    
}

footer ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
	padding-bottom: 30px;
}

footer li{
	padding: 5px;
	margin: 0;
	text-align: center;

}

.icon img:hover {
    background-color: var(--main-color);
    border-radius: 10px;
}


@media(max-width: 768px){
	footer{
		height: auto !important;
	}
	h2{
		font-size: 30px;
	}
}

@media(max-width: 768px){
    .card-productos{ 
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}

/* Fin del footer */

h1, h2, h4 {
    font-family: 'Playfair Display', serif;
}

h2 { 
    text-align: center;
}

p{
    text-align: justify;
}

.button { 
    display:block;
    margin-left: auto;
    margin-right: auto;
}


/* estilo de index */ 

.titulo { 
    margin-top: 2em;
}

.card-title {
    font-size: 24px;
    font-family: 'Playfair Display', serif;
}

.card-price { 
    font-size: 20px;
    color: black;
    text-align: center;

}
.containerProductDetail{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-products:hover {
    transform: translate(1px, -15px);
    box-shadow: 0px 12px 16px rgb(0, 0, 0, 0.2);

}

.btn-card {
    background-color: black;
    color: white;
}

.btn-card:hover { 
    background-color: #3a5f42;
    color: black;
}


/* Estilo del product detail */

.containerProductDetail{ 
    margin-top: 6em;
}

/* Estilo del carrito */
.containerCart{ 
    display: flex;
    align-items: center;
    
    margin-top: 6em;
    flex-direction: column;
}

.cart-table{
    max-width: 800px;
}

/* estilo de inicio de sesión y registro */ 

.form-login {
    background-color: var(--color-3);
    margin-top: 2em;
    margin-bottom: 2em;
    color: white;
    border-radius: 10px;
    margin-top: 6em;
}

.form-login a {
    text-decoration: none;
    color: white;
}

.form-login a:hover {
    color: var(--color-4);
}

.form-login h1 {
    text-align: center;
}

.form-img {
    background: url(../src/multimedia/img/fondo-formulario.jpg) center center;
}

.form-img-registro {
    background: url(../src/multimedia/img/registro.jpg) center center;
}


.form-info {
    padding: 4em;
}

.form-group {
    padding: 1em;
}

form button {
    text-align: center;
}

.enlace-registro {
    text-align: center;
}

.btn-ingresar {
    background-color: black;
    color: white;
}

.btn-ingresar:hover { 
    background-color: var(--color-4);
}

@media(max-width: 767px){
	.form-img{
        display: none;
    }
}

